<ng-container *ngIf="!isAvailable; else datatable">
  <h2>No Asset Strip available</h2>
</ng-container>

<ng-template #datatable>
  <div class="container">
  <div class="card">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Assetstrips</mat-card-title>
        <mat-card-subtitle>[ {{assets.length}} ]</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-divider></mat-divider>
        <table mat-table [dataSource]="assets" class="my-table mat-elevation-z8" matSort>

          <ng-container matColumnDef="type">
         <!--   <th mat-header-cell *matHeaderCellDef> Type </th> -->
            <td mat-cell *matCellDef="let asset">{{ asset.type }}</td>
          </ng-container>

          <!-- Poles Column -->
          <ng-container matColumnDef="params">
            <!--<th mat-header-cell *matHeaderCellDef >Parameters </th>-->
            <td mat-cell *matCellDef="let element">
              <!-- Nested Table for Poles -->
              <table mat-table [dataSource]="element.params" class="mat-elevation-z8">
                <ng-container *ngFor="let column of columns" [matColumnDef]="column">
                  <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
                  <td mat-cell *matCellDef="let asset">{{ asset[column] }}</td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="columns"></tr>
                <tr mat-row *matRowDef="let row; columns: columns"></tr>
              </table>
            </td>
          </ng-container>
          <!-- Actions Column -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element" class="action-link">
              <button mat-icon-button color="warn" (click)="addItem()">
                <mat-icon>add</mat-icon>
              </button>
              <button mat-icon-button color="warn" (click)="clearData()">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <!--<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="card">

  </div>
  </div>
</ng-template>
