
.example-action-buttons {
  padding-bottom: 20px;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}


tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.inner-table {
  width: 100%;
  border-collapse: collapse;
}

.inner-table mat-form-field {
  margin-top: 15px;
  width: 100%;
}
.example-element-row.has-expanded-details {
  background-color: pink;
}

.inner-table th,
.inner-table td {
  border: 1px solid #ddd; /* Add a 1px solid border to all table cells */
  padding: 8px; /* Add padding for better spacing */
  text-align: left; /* Align text to the left within cells */
}

.inner-table th {
  background-color: #f2f2f2; /* Add a background color to header cells for better differentiation */
}

.inner-table .action-link button {
  border: none; /* Remove border from action button */
}


.state-icon.on::before {
  content: "\e8ac";
  color: darkgreen;
}

.state-icon.off::before {
  content: "\e8ac";
  color: red;
}

.led-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.led-color {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
  border-radius: 50%;
}

.led-status {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 10px;
}
