<ng-container *ngIf="!isAvailable; else datatable">
  <h2>No Asset Strip available</h2>
</ng-container>

<ng-template #datatable>
  <div class="card">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Assetstrips</mat-card-title>
        <mat-card-subtitle>[ {{ap.tags.length}} ]</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-divider></mat-divider>
        <table mat-table [dataSource]="ap.tags" class="my-table mat-elevation-z8" matSort multiTemplateDataRows>

          <ng-container *ngFor="let column of columns" [matColumnDef]="column">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ column }}</th>
            <td mat-cell *matCellDef="let asset">{{ asset[column] }}</td>
          </ng-container>

          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
              <div class="example-element-detail" *ngIf="element.extensions && element.extensions.length" [@detailExpand]="element == selectedAsset ? 'expanded' : 'collapsed'">
                <div class="inner-table mat-elevation-z8" *ngIf="selectedAsset">
                  <table #innerTables mat-table [dataSource]="element.extensions" matSort>
                    <!-- Add a new row for the button -->
                    <ng-container *ngFor="let innerColumn of innercolumns" matColumnDef="{{innerColumn}}">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ innerColumn.toUpperCase()  }}</th>
                      <td mat-cell *matCellDef="let innerElement">{{ innerElement[innerColumn] }}</td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="innercolumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: innercolumns"></tr>
                  </table>
                </div>
              </div>
            </td>
          </ng-container>


          <!-- Actions Column -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>
              <button mat-icon-button color="warn" (click)="addAsset()">
                <mat-icon>add</mat-icon>
              </button>
              <button mat-icon-button color="warn" (click)="clearData(false)">
                <mat-icon>delete</mat-icon>
              </button>
            </th>
            <td mat-cell *matCellDef="let element" class="action-link">
              <button mat-icon-button color="primary" (click)="deleteItem(element)" >
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="example-element-row"
              [class.example-expanded-row]="selectedAsset === row"
              [class.selected-row]="selectedAsset === row"
              (click)="selectedAsset = selectedAsset === row ? null : row">
          </tr>
          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
        </table>
      </mat-card-content>
    </mat-card>
  </div>
</ng-template>
