.dialog-content {
  margin-top:10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  height: 100%;
}
.button-container {
  position: absolute;
  bottom:   0;
  margin-left: 20px;
  margin-bottom: 10px;
  flex-direction: row;
  justify-content: space-between;
}

