<mat-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="firstFormGroup" errorMessage="Type is required.">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Fill out the type</ng-template>
      <mat-radio-group class="dialog-content" formControlName="type" aria-label="Select an option">
        <mat-radio-button value="1">Virtual Asset Tag</mat-radio-button>
        <mat-radio-button value="2">Virtual Blade Extension</mat-radio-button>
      </mat-radio-group>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" errorMessage="Slot is required.">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Fill out the slot</ng-template>
      <!-- Slot Input (changed to mat-select) -->
      <mat-form-field class="dialog-content"  *ngIf="firstFormGroup.controls['type']?.value === '1'">
        <mat-label>Slot</mat-label>
        <mat-select placeholder="Slot" formControlName="slot">
          <mat-option value="0">0 (main tag)</mat-option>
          <mat-option *ngFor="let slot of extensionSlots" [value]="slot">{{ slot }}</mat-option>
        </mat-select>
        <mat-hint align="end">Slot 0 = main tag, slots 1..16 = extension tags</mat-hint>
      </mat-form-field>
      <div style="margin-top: 10px">
        <ng-container  *ngIf="firstFormGroup.controls['type']?.value === '1'">
          <p> If slot = 0, tag will appear at rackunit (numeric slot index) of this asset strip </p>
          <p> If slot > 0, tag will appear at slot (numeric index, 1~16) of a blade extension. </p>
        </ng-container>
        <ng-container  *ngIf="firstFormGroup.controls['type']?.value === '2'">
          <p> Blade extension must already be present at slot rackunit of this asset strip.</p>
        </ng-container>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-stepper>
<!-- Cancel and Next Buttons -->
<div class="button-container">
  <p>Go to the next step or cancel</p>
  <button mat-button (click)="closeDialog()">Cancel</button>
  <button mat-button color="warn" (click)="stepper.next()">Next</button>
</div>
