<h1> Switches[1..1]:methods </h1>
<ul>
  <li><mark>Sets fault flags</mark>  <pre> (1=phase, 2=overload) </pre> </li>
  <li><mark>Sets Inlet 1 fault flags </mark> </li>
  <li><mark>Sets Inlet 2 fault flags </mark>  <pre>(1=SMPS, 2=MOV, 4=short, 8=open) </pre> </li>
  <li><mark>Sets Inlet phase angle</mark>   <pre>to 15 f.e </pre> </li>
  <li><mark>Sets preferred Inlet </mark>  <pre> [1 .. 2] </pre> </li>
  <li><mark>Sets power fail detect time</mark> </li>
  <li><mark>Sets relay open time</mark></li>
  <li><mark>Sets total transfer time</mark> <pre>  (microseconds) </pre> </li>
  <li><mark>Sets bypass selected Inlet </mark>   <pre>[0=none, 1 .. 2] </pre> </li>
</ul>
