<div class="subtitle">
  <p>Note: The first generation of sensors (DPX-*) cannot be chained. You should be connected to the top-level sensor port.</p>
</div>
<div class="card">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Sensorports</mat-card-title>
      <mat-card-subtitle>[{{ dataSource.data.length }}]</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="spinner-container" *ngIf="isLoading; else datatable">
        <mat-spinner></mat-spinner>
      </div>
      <ng-template #datatable>
        <mat-divider></mat-divider>
        <table mat-table #outerSort="matSort" [dataSource]="dataSource" class="my-table mat-elevation-z8" matSort multiTemplateDataRows>

          <ng-container matColumnDef="device_id">
            <th mat-header-cell *matHeaderCellDef>
              <span [style.paddingLeft.px]="40"> Device ID  </span>
            </th>
            <td mat-cell *matCellDef="let data">
              <button mat-icon-button
                      [style.visibility]="!data.expandable ? 'hidden' : ''"
                      [style.marginLeft.px]="data.level * 32"
                      (click)="treeControl.toggle(data)">
                <mat-icon class="mat-icon-rtl-mirror">
                  {{treeControl.isExpanded(data) ? 'expand_more' : 'chevron_right'}}
                </mat-icon>
              </button>
              Device {{data.device_id}}
            </td>
          </ng-container>


          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
              <div class="example-element-detail" *ngIf="element.peripherals.data.length" [@detailExpand]="element == selectedDevice ? 'expanded' : 'collapsed'">
                <div class="inner-table mat-elevation-z8" *ngIf="selectedDevice">
                  <table #innerTables mat-table [dataSource]="element.peripherals" matSort>
                    <!-- Add a new row for the button -->
                    <ng-container *ngFor="let innerColumn of innercolumns" matColumnDef="{{innerColumn}}">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ innerColumn.toUpperCase()  }}</th>
                      <td mat-cell *matCellDef="let innerElement">{{ innerElement[innerColumn] }}</td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="innercolumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: innercolumns"></tr>
                  </table>
                </div>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let data"> {{data.name}} </td>
          </ng-container>


          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef> Type </th>
            <td mat-cell *matCellDef="let data"> {{data.type}} </td>
          </ng-container>

          <ng-container matColumnDef="serial_number">
            <th mat-header-cell *matHeaderCellDef> Serial Number </th>
            <td mat-cell *matCellDef="let data"> {{data.serial_number}} </td>
          </ng-container>

          <!-- Actions Column -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>
              <button mat-icon-button color="warn" (click)="addDevice()">
                <mat-icon>add</mat-icon>
              </button>
              <button mat-icon-button color="warn" (click)="removeAll()">
                <mat-icon>delete</mat-icon>
              </button>
            </th>
            <td mat-cell *matCellDef="let element" class="action-link">
              <button mat-icon-button color="primary" (click)="editDevice(element)">
                <mat-icon>edit</mat-icon>
              </button>

              <button mat-icon-button color="primary" (click)="deleteDevice(element)" >
                <mat-icon>delete</mat-icon>
              </button>

              <button mat-icon-button color="primary" (click)="infoDevice(element)">
                <mat-icon>info</mat-icon>
              </button>

              <button mat-icon-button color="primary" (click)="toggleDeviceDetails(element)">
                <mat-icon>{{ selectedDevice === element ? 'visibility_off' : 'visibility' }}</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="example-element-row"
              [class.example-expanded-row]="selectedDevice === row"
              [class.selected-row]="selectedDevice === row">
          </tr>
          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
        </table>
      </ng-template>
      <ng-container *ngIf="dataSource.data.length === 0">
        <h2>No device available</h2>
      </ng-container>
    </mat-card-content>
  </mat-card>
</div>
