<!-- app.component.html -->
<div class="card">
  <mat-card>
    <mat-card-header>
      <mat-card-title> SmartLock Controllers</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-divider></mat-divider>
        <table mat-table [dataSource]="dataSource" class="my-table mat-elevation-z8" matSort>

          <!-- Selection Column -->
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox color="warn" (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox color="warn" (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                            [checked]="selection.isSelected(row)">
              </mat-checkbox>
            </td>
          </ng-container>

          <!-- Define your columns once here -->
          <ng-container *ngFor="let column of columns">
            <ng-container [matColumnDef]="column">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ column.toUpperCase() }}</th>
              <td mat-cell *matCellDef="let element">{{ element[column] }}</td>
            </ng-container>
          </ng-container>

          <!-- actions Column -->
          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef="let element">
            </th>
            <td mat-cell *matCellDef="let element" class="action-link">
              <button mat-icon-button color="primary" (click)="editDevice(element)">
                <mat-icon>edit</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-card-content>
  </mat-card>
</div>

