<div class="card">
  <mat-card>
    <mat-card-header>
      <mat-card-title> SmartLock Controllers</mat-card-title>
      <mat-card-subtitle> [ {{ dataSource.data.length}} ]</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="spinner-container" *ngIf="isLoading; else datatable">
        <mat-spinner></mat-spinner>
      </div>
      <ng-template #datatable>
        <mat-divider></mat-divider>
        <table mat-table [dataSource]="dataSource" class="my-table mat-elevation-z8" matSort>

          <!-- Selection Column -->
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox color="warn" (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox color="warn" (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null"
                            [checked]="selection.isSelected(row)">
              </mat-checkbox>
            </td>
          </ng-container>

          <!-- Define your columns once here -->
          <ng-container *ngFor="let column of columns">
            <ng-container [matColumnDef]="column">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ column.toUpperCase() }}</th>
              <td mat-cell *matCellDef="let element">{{ element[column] }}</td>
            </ng-container>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </ng-template>
      <ng-container *ngIf="dataSource.data.length === 0">
        <h2>No device available</h2>
      </ng-container>
    </mat-card-content>
  </mat-card>
</div>

<div class="card">
  <mat-card>
    <mat-card-header>
      <mat-card-title> Manage Door</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-divider></mat-divider>
      <ng-container *ngIf="dataSource.data.length === 0; else manage">
        <h2>No Door available</h2>
      </ng-container>
      <ng-template #manage>
        <div class="form-group">
          <form (ngSubmit)="onFormSubmit(doorForm)" #doorForm="ngForm">
            <div class="form-fields">
              <mat-form-field>
                <mat-label>Select Door</mat-label>
                <mat-select ngModel name="doorNr" required>
                  <mat-option value="0">Door 1</mat-option>
                  <mat-option value="1">Door 2</mat-option>
                </mat-select>
              </mat-form-field>
              
              <mat-form-field>
                <mat-label>Select Device ID</mat-label>
                <mat-select ngModel name="deviceId" required>
                  <mat-option *ngFor="let row of dataSource.data" [value]="row.device_id">
                    {{ row.device_id }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Door State</mat-label>
                <mat-select ngModel name="doorState">
                  <mat-option>None</mat-option>
                  <mat-option value="true">True</mat-option>
                  <mat-option value="false">False</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Handle State</mat-label>
                <mat-select ngModel name="handleState">
                  <mat-option>None</mat-option>
                  <mat-option value="true">True</mat-option>
                  <mat-option value="false">False</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Enter ID</mat-label>
                <input matInput type="text" ngModel name="id" pattern="[0-9]+">
              </mat-form-field>
              <mat-form-field>
                <mat-label>Enter CARD PIN</mat-label>
                <input matInput type="text" ngModel name="pin" pattern="[0-9]+">
              </mat-form-field>
              <button mat-raised-button color="accent" type="submit" [disabled]="!doorForm.valid">Submit</button>
            </div>
          </form>
        </div>
      </ng-template>
    </mat-card-content>
  </mat-card>
</div>

<div class="card">
  <mat-card>
    <mat-card-header>
      <mat-card-title> Information</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-divider></mat-divider>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            {{ sensor.type }} | {{ sensor.name }}
          </mat-expansion-panel-header>
          <mat-list class="left-aligned-list">
            <mat-list-item><strong> Name : </strong> {{ sensor.name }}</mat-list-item>
            <mat-list-item><strong>Type : </strong> {{ sensor.type }}</mat-list-item>
            <mat-list-item><strong>Generation : </strong> {{ sensor.generation }}</mat-list-item>
            <mat-list-item><strong>Prefix : </strong> {{ sensor.prefix }}</mat-list-item>
            <mat-list-item><strong>Supported Methods: </strong> {{ sensor.methods }}</mat-list-item>
          </mat-list>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
  </mat-card>
</div>
