<div *ngIf="!isLoading" class="card">
<mat-toolbar color="primary">
  <button (click)="drawer.toggle()" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span class="app-title">Raritan</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="reload-button" aria-label="Reload" (click)="reloadPage()">
    <mat-icon>autorenew</mat-icon>
  </button>
  <button mat-icon-button class="reload-button" aria-label="Reload" (click)="checkConnection(template)">
    <mat-icon>signal_wifi_off</mat-icon>
  </button>
  <ng-template #template>
    <h2 matDialogTitle>{{isConn}}</h2>
    <mat-dialog-content>
      <p>{{askConn}}</p>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button color="warn" (click)="Connection()">Yes</button>
      <button mat-button matDialogClose>No</button>
    </mat-dialog-actions>
  </ng-template>

  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon [matBadge]="(notifications | async)?.length" matBadgeColor="warn" aria-hidden="false">notifications</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <ng-container *ngIf="(notifications | async) as notifs">
      <ng-container *ngIf="notifs.length; else noNotifications">
        <mat-list>
          <mat-list-item *ngFor="let notification of notifs">
            <span matListItemTitle>
              {{ notification.title }}
              <mat-icon class="material-icons">{{ notification.alert }}</mat-icon>
            </span>
            <span matListItemLine>{{ notification.message }} </span>
            <mat-divider [inset]="true"></mat-divider>
          </mat-list-item>
        </mat-list>
        <button mat-menu-item routerLink="/settings">Show More</button>
      </ng-container>
    </ng-container>
    <ng-template #noNotifications>
      <mat-list>
        <mat-list-item> No notifications</mat-list-item>
      </mat-list>
    </ng-template>
  </mat-menu>

  <button mat-icon-button class="share-button" aria-label="Settings" routerLink="settings">
    <mat-icon>settings</mat-icon>
  </button>
</mat-toolbar>


<mat-drawer-container autosize>
  <mat-drawer #drawer opened="true" mode="side" position="start">
    <mat-nav-list >
      <mat-list-item routerLink="outlets">
        <button color="accent"  mat-button>  <mat-icon>outlet</mat-icon> Outlets</button>
      </mat-list-item>
      <mat-list-item routerLink="inlets">
        <button mat-button> <mat-icon>power_input</mat-icon> Inlets</button>
      </mat-list-item>
      <mat-list-item routerLink="sensorport">
        <button mat-button> <mat-icon>important_devices</mat-icon> SensorPorts</button>
      </mat-list-item>
      <mat-list-item routerLink="envhub" >
        <button mat-button><mat-icon>device_hub</mat-icon> Envhubs </button>
      </mat-list-item>
      <mat-list-item routerLink="peripherals">
        <button color="primary" mat-button>  <mat-icon>devices_other</mat-icon> Peripherals</button>
      </mat-list-item>
      <mat-list-item routerLink="smartlock">
        <button mat-button> <mat-icon>lock</mat-icon> SmartLock</button>
      </mat-list-item>
      <mat-list-item routerLink="ocps">
        <button  mat-button> <mat-icon>flash_on</mat-icon> OCPs</button>
      </mat-list-item>
      <mat-list-item routerLink="settings">
        <button color="warn" mat-button> <mat-icon>settings</mat-icon> Settings</button>
      </mat-list-item>
      <mat-list-item routerLink="help">
        <button color="primary" mat-button><mat-icon>help</mat-icon> Help</button>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <div style="text-align: center;min-height: 1000px;">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
</div>
