/* Add this to your component's CSS file */
.container {
  padding: 20px;
}

.app-title {
  font-size: 24px;
  font-weight: bold;
  margin-left: 16px;
}

.mat-toolbar {
  position: relative;
  z-index: 5;
}
.logo {
  width: 85px !important;
  height: auto;
  margin-left: 16px;
}
