<h1 mat-dialog-title>Creating and connecting a new sensor </h1>
<div mat-dialog-content>
    <p>
        <mat-form-field class="dialog-content">
            <mat-label>Sensor Type</mat-label>
            <mat-select [(ngModel)]="type" name="type">
                <mat-option *ngFor="let sensor of sensors" [value]="sensor.type">
                    {{sensor.type}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </p>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="doAction()">Add a Device</button>
    <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
</div>
