
<div class="card">
  <mat-card>
    <mat-card-header>
      <mat-card-title> Outlets</mat-card-title>
      <mat-card-subtitle> [ {{ this.dataSource.data.length }} ] </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-divider></mat-divider>
      <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)" class="mat-elevation-z8">
        <!-- Selection Column -->
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox color="warn" (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox color="warn" (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
            Device
          </th>
          <td mat-cell *matCellDef="let element">Outlet {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="state">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by state">
            State
          </th>
          <td mat-cell *matCellDef="let element">
            <mat-icon class="state-icon" [ngClass]="element.state ? 'on' : 'off'">
              {{ element.state ? 'light_on' : 'light_off' }}
            </mat-icon>
          </td>
        </ng-container>

        <ng-container matColumnDef="voltage">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by voltage">
            Voltage
          </th>
          <td mat-cell *matCellDef="let element; let rowIndex = index">
            <ng-container *ngIf="editableRowIndex !== rowIndex; else editMode">
              {{ element.voltage }} V
            </ng-container>
            <ng-template #editMode>
              <mat-form-field>
                <input matInput type="number" [(ngModel)]="element.voltage" >
              </mat-form-field>
            </ng-template>
          </td>
        </ng-container>

        <ng-container matColumnDef="frequency">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by frequency">
            Frequency
          </th>
          <td mat-cell *matCellDef="let element; let rowIndex = index">
            <ng-container *ngIf="editableRowIndex !== rowIndex; else editMode">
              <!-- Display the value when not in edit mode -->
              {{ element.frequency }} Hz
            </ng-container>
            <ng-template #editMode>
              <!-- Display input field when in edit mode -->
              <mat-form-field>
                <input matInput type="number" [(ngModel)]="element.frequency">
              </mat-form-field>
            </ng-template>
          </td>
        </ng-container>

        <ng-container matColumnDef="current">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by current">
            Current
          </th>
          <td mat-cell *matCellDef="let element; let rowIndex = index">
            <ng-container *ngIf="editableRowIndex !== rowIndex; else editMode">
              <!-- Display the value when not in edit mode -->
              {{ element.current }} A
            </ng-container>
            <ng-template #editMode>
              <!-- Display input field when in edit mode -->
              <mat-form-field>
                <input matInput type="number" [(ngModel)]="element.current" >
              </mat-form-field>
            </ng-template>
          </td>
        </ng-container>

        <ng-container matColumnDef="act_power">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by act_power">
            Act. Power
          </th>
          <td mat-cell *matCellDef="let element; let rowIndex = index">
            <ng-container *ngIf="editableRowIndex !== rowIndex; else editMode">
              <!-- Display the value when not in edit mode -->
              {{ element.act_power }} W
            </ng-container>
            <ng-template #editMode>
              <!-- Display input field when in edit mode -->
              <mat-form-field>
                <input matInput type="number" [(ngModel)]="element.act_power">
              </mat-form-field>
            </ng-template>
          </td>
        </ng-container>

        <ng-container matColumnDef="app_power">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by app_power">
            App. Power
          </th>
          <td mat-cell *matCellDef="let element; let rowIndex = index">
            <ng-container *ngIf="editableRowIndex !== rowIndex; else editMode">
              <!-- Display the value when not in edit mode -->
              {{ element.app_power }} VA
            </ng-container>
            <ng-template #editMode>
              <!-- Display input field when in edit mode -->
              <mat-form-field>
                <input matInput type="number" [(ngModel)]="element.app_power" >
              </mat-form-field>
            </ng-template>
          </td>
        </ng-container>

        <!-- edit Column -->
        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element; let rowIndex = index">
            <ng-container *ngIf="editableRowIndex !== rowIndex; else editMode">
              <button mat-icon-button color="primary" (click)="editItem(rowIndex)">
                <mat-icon>edit</mat-icon>
              </button>
            </ng-container>
            <ng-template #editMode>
              <button mat-icon-button color="primary" (click)="saveItem(element)">
                <mat-icon>done</mat-icon>
              </button>
              <button mat-icon-button color="warn" (click)="cancelEdit()">
                <mat-icon>cancel</mat-icon>
              </button>
            </ng-template>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index;"></tr>
      </table>
      <ng-container *ngIf="dataSource.data.length === 0">
        <h2>No Outlet available</h2>
      </ng-container>
      <mat-progress-bar *ngIf="size !== dataSource.data.length" color="warn" mode="determinate" [value]="calculateProgress()"></mat-progress-bar>
      <mat-paginator [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="onPageSizeChange($event)" showFirstLastButtons></mat-paginator>
    </mat-card-content>
  </mat-card>
</div>


