<h1 mat-dialog-title>Creating and connecting a new sensor </h1>
<div mat-dialog-content>
  <mat-form-field class="dialog-content">
    <mat-label>Sensor Name</mat-label>
    <mat-select [(ngModel)]="selectedSensor" name="sensor" >
      <mat-option *ngFor="let sensor of [] | sensors" [value]="sensor">
        {{sensor.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button [color]="isFormValid() ? 'primary' : ''"  (click)="doAction()" [disabled]="!isFormValid()">Add a Device</button>
  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
</div>
