<h1 mat-dialog-title>Creating and connecting a new sensor </h1>
<div mat-dialog-content>
  <p>
    <mat-form-field class="dialog-content">
      <mat-label>Sensor Name</mat-label>
      <mat-select [(ngModel)]="device" name="device">
        <mat-option *ngFor="let device of [] | sensors" [value]="device">
          {{device.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="doAction()" [disabled]="!isFormValid()">Add a Device</button>
  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
</div>
