<h1 mat-dialog-title>Changing sensor readings</h1>
<div mat-dialog-content>
  <p><sub>for</sub> Device {{ local_data.device_id }}</p>

  <mat-form-field class="dialog-content">
    <mat-label>Select a sensor method</mat-label>
    <mat-select [(ngModel)]="selectedSensorMethod">
      <mat-option *ngFor="let sensor of selectedSensor?.methods" [value]="sensor">
        {{ sensor }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <ng-container *ngIf="selectedSensorMethod">
    <ng-container *ngFor="let paramType of methodParameters[selectedSensorMethod]">
      <mat-form-field class="dialog-content">
        <mat-label>{{ getParamLabel(paramType) }}</mat-label>
        <ng-container [ngSwitch]="paramType">
          <input *ngSwitchCase="'number'" matInput type="number" [formControl]="getParamFormControl(paramType)" [placeholder]="getParamPlaceholder(paramType)" required>
          <input *ngSwitchCase="'str'" matInput type="text" [formControl]="getParamFormControl(paramType)" [placeholder]="getParamPlaceholder(paramType)" required>
          <mat-select *ngSwitchCase="'bool'" [formControl]="getParamFormControl(paramType)" required>
            <mat-option [value]="true">True</mat-option>
            <mat-option [value]="false">False</mat-option>
          </mat-select>
        </ng-container>
      </mat-form-field>
    </ng-container>
  </ng-container>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="setSensorValue()" [disabled]="!isFormValid()">Set value</button>
  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
</div>
