@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

:root {
  --surface-card: #ffffff;
}

table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.example-spacer {
  flex: 1 1 auto;
}

.group-header-cell {
  background-color: #ff4081;
  color: #fff;
  font-weight: bold;
}

mat-form-field{
  width: 150px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.card {
  background: var(--surface-card);
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.spinner-container {
  display: inline-table;
  justify-content: center;
  align-items: center;
}

.success-snackbar {
  --mdc-snackbar-container-color: green !important;
  --mdc-snackbar-supporting-text-color: white !important;
  --mat-mdc-snack-bar-button-color: white !important;
  white-space: pre-wrap
}
/* Warning snackbar */
.warning-snackbar {
  --mdc-snackbar-container-color: #ff9800 !important;
  --mdc-snackbar-supporting-text-color: white !important;
  --mat-mdc-snack-bar-button-color: white !important;
  white-space: pre-wrap;
}

/* Error snackbar */
.error-snackbar {
  --mdc-snackbar-container-color: #f44336 !important;
  --mdc-snackbar-supporting-text-color: white !important;
  --mat-mdc-snack-bar-button-color: white !important;
  white-space: pre-wrap;
}

/* Info snackbar */
.info-snackbar {
  --mdc-snackbar-container-color: #2196f3 !important;
  --mdc-snackbar-supporting-text-color: white !important;
  --mat-mdc-snack-bar-button-color: white !important;
  white-space: pre-wrap;
}

