.warning-row {
  background-color: #ffcccb; /* Set your desired warning background color here */
  color: #ff0000; /* Set your desired text color for warnings here */
}

.form-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.group-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.group-header .icon {
  margin-right: 15px;
}

.form-fields {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

mat-form-field {
  margin-right: 10px;
  width: auto;
}

.mat-divider {
  margin: 20px 0;
}

.group-header .icon-star {
  color: #FFD700;
}
.group-header .icon-time {
  color: forestgreen;
}

.example-button-row {
  display: table-cell;
  max-width: 600px;
}
section {
  display: table;
}
.example-button-row {
  display: table-cell;
  max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 150px;
}
