
<div class="card">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Envhubs</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div  class="spinner-container" *ngIf="isLoading; else datatable">
        <mat-spinner class="example-spinner"></mat-spinner>
      </div>
      <ng-template #datatable>
      <mat-divider></mat-divider>
      <div class="container text-center">
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" color="accent" >
          <mat-tab *ngFor="let port of dataSource; let i = index" [label]="'Port ' + i + ': ' + port.data.length " >
            <ng-container *ngIf="port && port.data">
              <button mat-icon-button color="warn" (click)="deleteSelectedItems(i)" [hidden]="!selection[i].hasValue()">
                <mat-icon>delete</mat-icon>
              </button>
              <table mat-table [dataSource]="port" matSort class="mat-elevation-z8">
                <!-- Selection Column -->
                <ng-container matColumnDef="select">
                  <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox color="warn" (change)="$event ? masterToggle(i) : null" [checked]="selection[i].hasValue() && isAllSelected(i)"
                                  [indeterminate]="selection[i].hasValue() && !isAllSelected(i)">
                    </mat-checkbox>
                  </th>
                  <td mat-cell *matCellDef="let row">
                    <mat-checkbox color="warn" (click)="$event.stopPropagation()" (change)="$event ? selection[i].toggle(row) : null"
                                  [checked]="selection[i].isSelected(row)">
                    </mat-checkbox>
                  </td>
                </ng-container>
                <!-- Define your columns once here -->
                <ng-container *ngFor="let column of columns">
                  <ng-container [matColumnDef]="column">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ column.toUpperCase() }}</th>
                    <td mat-cell *matCellDef="let element">{{ element[column] }}</td>
                  </ng-container>
                </ng-container>
                <!-- Actions Column -->
                <ng-container matColumnDef="actions">
                  <th mat-header-cell *matHeaderCellDef="let element">
                    <button mat-icon-button color="warn" (click)="addDevice(i)">
                      <mat-icon>add</mat-icon>
                    </button>
                  </th>
                  <td mat-cell *matCellDef="let element" class="action-link">
                    <button mat-icon-button color="primary" (click)="editDevice(element)">
                      <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="primary" (click)="infoDevice(element)">
                      <mat-icon>info</mat-icon>
                    </button>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
              </table>
            </ng-container>
            <ng-container *ngIf="port.data.length === 0">
              <h2>No device available</h2>
            </ng-container>
            <div class="custom-container">
              <mat-form-field>
                <mat-label>State</mat-label>
                <mat-select [(ngModel)]="state" disableRipple>
                  <mat-option value="true">True</mat-option>
                  <mat-option value="false">False</mat-option>
                </mat-select>
              </mat-form-field>
              <button mat-raised-button color="accent" (click)="setFuseState(i)">Set Fuse State</button>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
      </ng-template>
    </mat-card-content>
  </mat-card>
</div>
